
.env


# file miei commentati
models.comments.py
database.comments.py
auth.comments.py
memory.comments.py

# Non carico pdf:
scripts/docs/hr/*
scripts/docs/ml/*

# credenziali 
google_service_account.json


*.db